/*
 ** Document
 */

$white:					         #ffffff;
$black:                  #000000;

$royal-blue-light:       #4D6FE1;
$ghost-white:            #F9FBFF;

$isabelline:             #F2EFEA;
$outrageous-orange:      #FC7753;

// https://coolors.co/4d6fe1-f9fbff-f2efea-fc7753